spring:
  datasource:
    url: jdbc:mysql://localhost:3306/reservefastauth?serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.jdbc.lob.non_contextual-creation: true
  application:
    name: auth-service

server:
  port: 9092

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    routes:
      enabled: true


eureka:
  instance:
    prefer-ip-address: true
  client:
    healthcheck:
      enabled: true
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

zuul:
  ignored-services: '*'
  routes:
    reserve-service:
      path: /reserve/**
      service-id: reserve-service
    profile-service:
      path: /company/**
      service-id: company-service
  prefix: "/api/"