spring:
  datasource:
    url: ec2-54-247-169-129.eu-west-1.compute.amazonaws.com
    username: nwsgmkhzkvmtla
    password: 690a00c9b785c708760626197616a114adce024c1e8cf91b2baa8014a655be58
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.jdbc.lob.non_contextual-creation: true
  cloud:
    discovery:
      enabled: true
  application:
    name: auth-service

server:
  port: 9092

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    routes:
      enabled: true

eureka:
  instance:
    hostname: https://reservefast-auth.herokuapp.com
  client:
    healthcheck:
      enabled: true
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: https://reservefast-eureka.herokuapp.com/eureka

zuul:
  ignored-services: '*'
  sensitiveHeaders: Cookie,Set-Cookie
  routes:
    reserve-service:
      path: /reserve/**
      service-id: reserve-service
    profile-service:
      path: /company/**
      service-id: company-service
    builder-service:
      path: /builder/**
      service-id: builder-service
    reservation-service:
      path: /reservation/**
      service-id: reservation-service
  prefix: "/api/"