spring:
  datasource:
    url: ec2-54-247-169-129.eu-west-1.compute.amazonaws.com
    username: nwsgmkhzkvmtla
    password: 690a00c9b785c708760626197616a114adce024c1e8cf91b2baa8014a655be58
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.jdbc.lob.non_contextual-creation: true
  cloud:
    discovery:
      enabled: true
  application:
    name: auth-service

server:
  port: 9092

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    routes:
      enabled: true
    health:
      enabled: false


eureka:
  instance:
    secure-port-enabled: true
    non-secure-port-enabled: false
    secure-port: ${server.port}
    health-check-url: https://reservefast-auth.herokuapp.com/actuator/health
    home-page-url: https://reservefast-auth.herokuapp.com
    status-page-url: https://reservefast-auth.herokuapp.com/info
  client:
    serviceUrl:
      defaultZone: https://reservefast-eureka.herokuapp.com/eureka
    register-with-eureka: true
    fetch-registry: true

zuul:
  host:
    connect-timeout-millis: 10000
    socket-timeout-millis: 60000
  ignored-services: '*'
  sensitiveHeaders: Cookie,Set-Cookie
  routes:
    reserve-service:
      path: /reserve/**
      service-id: reserve-service
    company-service:
      path: /company/**
      service-id: company-service
    builder-service:
      path: /builder/**
      service-id: builder-service
    reservation-service:
      path: /reservation/**
      service-id: reservation-service
  prefix: "/api/"

ribbon:
  eureka:
    enabled: false